html {
  scroll-behavior: smooth;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #f0be27;
}

nav {
  padding: 0.5rem;
  margin-left: 20px;
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 0.5rem;
}

nav li a {
  border: 2px solid rgb(10, 83, 22);
  color: rgb(105, 140, 238);
  border-radius: 10px;
  padding: 2px 20px;
}

nav li a:hover {
  color: darkgreen;
  background-color: black;
}

p {
  margin: 20px 0 20px 20px;
  width: 400px;
}

h2 {
  margin: 20px 0 20px 20px;
}

#null {
  margin: 20px 0 20px 20px;
}

.bild {
  width: 400px;
  margin: 20px 0 20px 20px;
}

footer {
  color: white;
  text-align: right;
  padding: 0.5rem;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

footer a:hover {
  color: darkgreen;
  background-color: black;
}
